<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cadastro de Adoção</title>
    <link rel="stylesheet" href="/_css/estiloFormulario.css" type="text/css">
    <script src="/_scripts/mascaras.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="form-container">
      <div class="form-header">
        <div class="back-btn" onclick="location.href = '/index.html'" style="background-color: #ffb0aa; border:1px solid #ffb0aa;"></div>
        <h1 class="form-name">Cadastro de Adoção:</h1>
        <div class="form-icon" id="icon-adocao"></div>
      </div>

      <form class="" action="/cadastrar_adocao" method="post">
        <style>
          .input-container:hover{border: 2px solid #ffb0aa;}
          .input-container:hover h1{color: #ffb0aa;}
        </style>

        <div class="input-container medium-container">
          <h1>ID do animal:</h1>
          <input class="text-input" type="text" name="idAnimalAdocao" id="input1" value="" required>
        </div>
        <div class="input-container medium-container">
          <h1>CPF do adotante:</h1>
          <input maxlength="14" class="text-input" type="text" name="cpfAdotanteAdocao" id="input2" value="" required onkeydown="javascript: fMasc( this, mCPF );">
        </div>

        <div class="input-container small-container">
          <h1>Local do evento:</h1>
          <input class="text-input" type="text" name="localAdocao" id="input3" value="" required>
        </div>
        <div class="input-container small-container">
          <h1>Data:</h1>
          <input maxlength="10" class="text-input" type="text" name="dataAdocao" id="input4" value="" required onkeydown="javascript: fMasc( this, mDate );">
        </div>
        <div class="input-container small-container">
          <h1>Entrevistado por:</h1>
          <input class="text-input" type="text" name="entrevistadorAdocao" id="input5" value="" required>
        </div>

        <div class="send-btn-container">
          <input class="input-btn" type="submit" name="" value="CADASTRAR" style="background-color: #ffb0aa;">
        </div>
      </form>
    </div>
  </body>
</html>
