<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cadastros</title>
    <link href="/_css/estiloIndex.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="form-btns-container">
      <h1>Cadastrar:</h1>
      <div class="form-btn" id="btn-adotante" onclick="location.href = '/adotante.html'">
        <div class="btn-icon" id="icon-adotante"></div>
        <div class="btn-title" id="title-adotante">Adotante</div>
      </div>
      <div class="form-btn" id="btn-animal" onclick="location.href = '/animal.html'">
        <div class="btn-icon" id="icon-animal"></div>
        <div class="btn-title">Animal</div>
      </div>
      <div class="form-btn" id="btn-adocao" onclick="location.href = '/adocao.html'">
        <div class="btn-icon" id="icon-adocao"></div>
        <div class="btn-title">Adoção</div>
      </div>
      <div class="form-btn" id="btn-devolucao">
        <div class="btn-icon" id="icon-devolucao"></div>
        <div class="btn-title">Devolução</div>
      </div>

    </div>
  </body>
</html>
